*{
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}
body{
  background-color: rgb(27, 25, 25);
  display: grid;
  place-content: center;
  text-align: center;
  height: 100vh;
}
.card{
  color: azure;
  border-radius: .5rem; 
  height: 300px;
  width: 250px;
  border: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}
main{
  background: hsla(185, 64%, 51%, 1);

  background: linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 ); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF745C", endColorstr="#34073D", GradientType=1 );
box-sizing: border-box;
border-radius: .5rem;
}
.last{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.last .left{
  display: flex;
}
.last .right{
  display: flex;
  align-self: right;
}



@media(min-height:400px)and (min-width:250px){
  .card{
    height: 400px;
    width: 250px;
  }
  main{
    padding: 10px;
    padding-top: 20px;
    height: 400px;
    width: 250px;

  }
  input{
    height:30px;
    width: 80%;
    border-radius: 3rem;
    text-align:left;
    padding-left: 15px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    margin: none;
  }
  button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-left: 2px;
  }
  .climate{
    margin-top: 30px;
  }
  .climate img{
    height: 80px;
  }
  .temp{
    margin-top: 10px;
    font-size: 3rem;
    font-family: "Varela Round", sans-serif;;
  }
  .place{
    margin-top: 0px;
    font-size: 1.5rem;
  }
  .last img {
    height: 30px;
    margin-right:3px;
  }
  .last{
    font-size: x-small;
    margin-bottom: 27px;
  }
  .last #humidity{
    font-size: large;
  }
  .last #speed{
    font-size: large;
  }
}
@media (min-height:600px) and (min-width:410px){
  .card{
    height: 600px;
    width: 400px;
  }
  main{
    padding: 30px;
    padding-top: 50px;
    height: 600px;
    width: 400px;

  }
  input{
    height:40px;
    width: 80%;
    border-radius: 3rem;
    text-align:left;
    padding-left: 15px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    margin: none;
  }
  button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-left: 10px;
  }
  .climate{
    margin-top: 30px;
  }
  .climate img{
    height: 140px;
  }
  .temp{
    margin-top: 30px;
    font-size: 4rem;
    font-family: "Varela Round", sans-serif;;
  }
  .place{
    margin-top: 10px;
    font-size: 2rem;
  }
  .last img {
    height: 50px;
    margin-right: 10px;
  }
  .last{
    font-size: smaller;
    margin-bottom: 27px;
  }
  .last #humidity{
    font-size: x-large;
  }
  .last #speed{
    font-size: x-large;
  }
}